html, body {
  font-family: arial;
  font-size: 48px;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

button,table,input,textarea {
        font-size: 48px;
        border-radius: 10px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  padding: 10px;
}

